* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('./980034.png' ) ; 
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Cabin', sans-serif;
}

.header {
  /* background: black; */
  color: white;
}
.header_main {
  height: 100px;

}

.header_main img {
  position: relative;
  width: 25%;
  top: 70px
}

.header_menu {
  background: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  height: 60px;
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}


.menu_items ul {
  display: flex;
  list-style: none;
  
}
.menu_items ul li{
 padding: 29px;
  
}
.menu_items a {
  margin: 20px;
  color: white;
  text-decoration: none;

}

/* SECTION */
.section {
  background: black;
  width: 95%;
  margin: auto;
}

.container-body {
  display: grid;
  grid-template-columns: 750px 340px;
}

.table-inicio_integrantes-hermandad {
  font-size: 15px;
  color: white;
  margin-right: 30px;
 
}

/* Table Header */
.table-inicio_header {
  font-size: 16px;
  text-align: center;
  
}

.table-inicio_nombre {
  padding: 0 50px;
  color: yellow;
  border: 1px solid;
}
.table-inicio_raza {
  padding: 0 10px;
  color: yellow;
}
.table-inicio_clase {
  padding: 0 10px;
  color: yellow;
}
.table-inicio_funcion {
  padding: 0 15px;
  color: yellow;
}
.table-inicio_nivel {
  padding: 0 20px;
  color: yellow;
}
.table-inicio_rango-hermandad {
  color: white;
}
/* ---------------------------------------- */


/* Table Body */
.table-inicio_body {
  text-align: center;
  font-size: 14px;
  
}

/* CARTA DERECHA DE INFORMACION */
.carta-informacion {
  /* background: red; */
  color: white;
  /* text-align: center; */
  border-left: 1px solid;

}


